{% layout "templates/layout.liquid" %}
{% block %}
<div class="x-carousel flex gap-4 items-center w-full">
    <button class="x-button circle muted" data-action="click->x-carousel#prev" aria-label="Prev">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
        </svg>
    </button>
    <div class="x-carousel-content gap-2 w-full" data-x-carousel-target="content">
        <div class="x-image w-full rounded-md aspect-square">
            <img src="https://placehold.co/512" alt="" loading="lazy">
        </div>
        <div class="x-image w-full rounded-md aspect-square">
            <img src="https://placehold.co/512" alt="" loading="lazy">
        </div>
    </div>
    <button class="x-button circle muted" data-action="click->x-carousel#next" aria-label="Next">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
        </svg>
    </button>
</div>
{% endblock %}

{% block head %}
<style>
    .x-carousel {
      max-width: 22rem
    }

    .aspect-square {
      aspect-ratio: 1/1;
    }
</style>
{% endblock %}


{% block foot %}
<!-- #region js -->
<script type="module">
    import { scrollPrev, scrollNext, observeCarousel } from "winduum/src/components/carousel";

    const contentElement = document.querySelector('[data-x-carousel-target="content"]')
    const prevElement = document.querySelector('[data-action="click->x-carousel#prev"]')
    const nextElement = document.querySelector('[data-action="click->x-carousel#next"]')

    observeCarousel(contentElement)

    prevElement.addEventListener('click', () => scrollPrev(contentElement))
    nextElement.addEventListener('click', () => scrollNext(contentElement))
</script>
<!-- #endregion js -->
{% endblock %}
