html {
    height: 100%;
    background-color: rgb(246, 246, 247);

    &.dark {
        background-color: #111114;
    }
}

:where(body) {
    display: flex;
    gap: 0.5rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    border-radius: var(--rounded);
    min-height: 100%;
    background: transparent;
}
