:root, :host {
    height: 100%;
    background-color: var(--color-body);

    &.dark {
        --color-body: rgb(10, 10, 10);
    }
}

:where(body) {
    display: flex;
    gap: 0.5rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    border-radius: var(--rounded);
    min-height: 100%;
    background: transparent;
}
