/**
 * Colors
 * -------------------------------------------------------------------------- */

:root {
  --vp-c-brand: #038aff;
  --vp-c-brand-light: #36a1ff;
  --vp-c-brand-lighter: #36a1ff;
  --vp-c-brand-lightest: #69b9ff;
  --vp-c-brand-dark: #038aff;
  --vp-c-brand-darker: #038aff;
  --vp-c-brand-dimm: rgba(100, 108, 255, 0.08);
  --container-padding: 0 !important;
  --vp-c-brand-1: var(--vp-c-brand);
  --vp-c-brand-2: var(--vp-c-brand-light);
  --vp-c-brand-3: var(--vp-c-brand-lighter);
  --vp-c-brand-soft: var(--vp-c-brand-lightest);
}

:root.dark {
  --vp-c-bg: #0a0a0a;
  --vp-c-bg-alt: #050505;
  --vp-c-bg-elv: #111114;
  --vp-c-bg-soft: #111114;
  --vp-code-block-bg: var(--vp-c-bg-elv);
  --vp-c-default-1: #111114;
  --vp-c-default-2: #222224;
  --vp-c-default-3: #111114;
  --vp-c-default-soft: var(--vp-c-gray-soft);
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-border: var(--vp-c-brand-light);
  --vp-button-brand-text: var(--vp-c-text-dark-1);
  --vp-button-brand-bg: var(--vp-c-brand);
  --vp-button-brand-hover-border: var(--vp-c-brand-light);
  --vp-button-brand-hover-text: var(--vp-c-text-dark-1);
  --vp-button-brand-hover-bg: var(--vp-c-brand-light);
  --vp-button-brand-active-border: var(--vp-c-brand-light);
  --vp-button-brand-active-text: var(--vp-c-text-dark-1);
  --vp-button-brand-active-bg: var(--vp-button-brand-bg);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    var(--vp-c-brand) 30%,
    #41d1ff
  );

  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    var(--vp-c-brand) 50%,
    #47caff 50%
  );
  --vp-home-hero-image-filter: blur(40px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(72px);
  }
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
  --vp-custom-block-tip-border: var(--vp-c-brand);
  --vp-custom-block-tip-text: var(--vp-c-brand-darker);
  --vp-custom-block-tip-bg: var(--vp-c-brand-dimm);
}

.dark {
  --vp-custom-block-tip-border: var(--vp-c-brand);
  --vp-custom-block-tip-text: var(--vp-c-brand-lightest);
  --vp-custom-block-tip-bg: var(--vp-c-brand-dimm);
}

/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand) !important;
}

/**
 * VitePress: Custom fix
 * -------------------------------------------------------------------------- */

/*
  Use lighter colors for links in dark mode for a11y.
  Also specify some classes twice to have higher specificity
  over scoped class data attribute.
*/
.dark .vp-doc a,
.dark .vp-doc a > code,
.dark .VPNavBarMenuLink.VPNavBarMenuLink:hover,
.dark .VPNavBarMenuLink.VPNavBarMenuLink.active,
.dark .link.link:hover,
.dark .link.link.active,
.dark .edit-link-button.edit-link-button,
.dark .pager-link .title {
  color: var(--vp-c-brand-lighter);
}

.dark .vp-doc a:hover,
.dark .vp-doc a > code:hover {
  color: var(--vp-c-brand-lightest);
  opacity: 1;
}

/* Transition by color instead of opacity */
.dark .vp-doc .custom-block a {
  transition: color 0.25s;
}

.VPHero .text {
  line-height: 50px;
  font-size: 40px;
  margin-top: 8px !important;
}

.VPHero  .tagline {
  line-height: 32px;
  font-size: 20px;
}

.VPSidebarGroup .title-text {
  font-size: 16px;
}

.VPSidebarGroup .link-text {
  line-height: 28px;
  font-size: 16px;
}

.VPHero .image-bg {
  opacity: 0.4;
  animation: logo 6s infinite;
}

.VPHomeSponsors .message {
  max-width: 550px;
}

@keyframes logo {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.4;
  }
}

iframe, .iframe {
  border: 1px solid var(--color-body-tertiary);
  width: 100%;
  background-color: transparent;
  border-radius: 0.75rem;
  min-height: 20rem;
}

.iframe {
  display: flex;
  justify-content: center;
  align-items: center;
}

iframe {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.vp-doc :not(pre) > code {
  background-color: var(--vp-c-bg-soft);
}

#VPContent {
  display: flex;
}

.VPHome {
  padding-bottom: 2.5rem !important;
  margin: auto;
}

.container {
  padding: 0;
}

em {
  font-style: italic;
}

.winduum-gh-link {
  display: inline-flex;
  align-items: center;
  gap: 0.375rem;
}

.winduum-gh-link svg {
  width: 0.875rem;
  height: 0.875rem;
  fill: #fff;
}



a[href*="?soon"] {
  pointer-events: none;
}

a[href*="?soon"] .text {
  flex-grow: 0;
}

a[href*="?soon"]::after {
  content: "(soon)";
  font-size: 0.75rem;
  opacity: 0.5;
  flex-grow: 1;
  margin-left: 0.625rem;
  color: var(--vp-c-text-2);
}

.vp-doc [class*='language-'] code {
  background-color: transparent;
}

body .border-primary {
  border-color: var(--color-primary);
}

body .border-t-2 {
  border-top-width: 2px;
}


html:has(dialog[open]) .VPNav {
  padding-inline-end: var(--default-scrollbar-width, 0);
}

html:has(dialog[open]) .VPSidebar {
  left: calc(var(--default-scrollbar-width, 0px) / 2 * -1) !important;
}

.vp-doc table {
  width: 100%;
  display: table;
}

/*
.VPDocAside {
  ul ul ul {
    display: none;
  }
}
*/

.vp-doc h3 {
  margin-bottom: 1rem;
}

.VPHomeSponsors .message {
  max-width: 550px;
}

.VPHomeSponsors {
  margin: 0 !important;
}

.animation-\[ripple\] {
  animation-name: ripple;
}

body {
  margin: 0;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  line-height: 24px;
  font-family: var(--vp-font-family-base);
  font-size: 16px;
  font-weight: 400;
  color: var(--vp-c-text-1);
  background-color: var(--vp-c-bg);
  font-synthesis: style;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}