{% layout "templates/layout.liquid" %}
{% block %}
<div class="x-group vertical">
    <a role="button" class="x-button">Link</a>
    <button type="submit" class="x-button">Button</button>
    <input type="button" value="Input" class="x-button" />
    <input type="submit" value="Submit" class="x-button" />
    <input type="radio" aria-label="Radio" class="x-button" />
    <input type="checkbox" aria-label="Checkbox" class="x-button" />
    <input type="reset" value="Reset" class="x-button" />
</div>
{% endblock %}
