{% layout "templates/layout.liquid" %}
{% block %}
<div class="x-group vertical">
    <div class="x-control">
        <input type="text" placeholder="1234 1234 1234 1234" required>
    </div>
    <div class="x-group">
        <div class="x-control">
            <input type="text" placeholder="MM/YY" required>
        </div>
        <div class="x-control">
            <input type="text" placeholder="CVC" required>
        </div>
    </div>
</div>
{% endblock %}
