{% layout "templates/layout.liquid" %}
{% block %}
<div class="x-notice bg-error text-light text-center" role="alert">
    Error background notice
</div>
{% endblock %}

{% block head %}
<style>
    body  > * {
        width: 100%
    }

    .text-center {
        text-align: center;
    }
</style>
{% endblock %}
