{% layout "templates/layout.liquid" %}
{% block %}
<div class="x-notice accent-info" role="alert">
    Info notice
</div>
{% endblock %}

{% block head %}
<style>
    body  > * {
        width: 100%
    }
</style>
{% endblock %}
