{% layout "templates/layout.liquid" %}
{% block %}
<button class="x-button">Button</button>
{% endblock %}

{% block head %}
<style>
    body .x-button {
        --x-button-height: 4rem;
        --x-button-py: 1rem;
        --x-button-px: 1rem;
        --x-button-border-radius: 0;
        --x-button-font-size: 1.15rem;
        --x-button-font-weight: 700;
        --color-accent: yellow;
        --x-button-color: #333 !important;
        --x-button-hover-opacity: 40%;
        --x-button-focus-opacity: 80%;
    }
</style>
{% endblock %}
