{% layout "templates/layout.liquid" %}
{% block %}
<button class="x-button gradient-bordered hover-fill focus:!outline-purple-600/30 bg-gradient-to-br from-purple-600 to-blue-500">Button</button>
<button class="x-button gradient focus:!outline-purple-600 bg-gradient-to-br from-purple-600 to-blue-500">Button</button>
{% endblock %}
