{% layout "templates/layout.liquid" %}
{% block %}
<div class="ui-notice accent-error" role="alert">
    Error notice
</div>
{% endblock %}

{% block head %}
<style>
    body  > * {
        width: 100%
    }
</style>
{% endblock %}
