{% layout "templates/layout.liquid" %}
{% block %}
<div class="x-field">
    <label class="x-label mb-2" for="select">Select</label>
    <div class="x-control">
        <select id="select">
            <option selected="" value="">- select an option -</option>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
        </select>
    </div>
</div>
{% endblock %}
