{% layout "templates/layout.liquid" %}
{% block %}
<div class="x-image rounded">
    <img class="aspect-square" src="https://picsum.photos/seed/picsum/200/200" loading="lazy" alt="">
</div>
{% endblock %}
