{% layout "templates/layout.liquid" %}
{% block %}
<div class="x-image before:skeleton">
    <img class="aspect-[3/2]" src="https://picsum.photos/seed/picsum/300/200" loading="lazy" alt="">
</div>
{% endblock %}

{% block head %}
<style>
    .x-image {
        width: 20rem
    }
</style>
{% endblock %}
