{% layout "templates/layout.liquid" %}
{% block %}
<div class="ui-range vertical h-48">
    <input type="range" value="0" step="10" max="100" min="0" aria-labelledby="single" id="range-single">
</div>

<output class="before:content-[attr(data-unit)]" data-unit="$" aria-label="Price" id="single">10 000</output>
{% endblock %}

{% block head %}
<style>
  body {
    flex-direction: column;
  }
</style>
{% endblock %}

{% block foot %}
<!-- #region js -->
<script type="module">
    import { setValue, setOutputValue } from 'winduum/src/ui/range/index.js'

    const rangeSingle = document.querySelector('#range-single')

    const setSingleValue = ({ currentTarget }) => {
        setValue(currentTarget)

        setOutputValue(currentTarget, document.querySelector('#single'))
    }

    setSingleValue({ currentTarget: rangeSingle })
    rangeSingle.addEventListener('input', setSingleValue)
</script>
<!-- #endregion js -->
{% endblock %}
