{% layout "templates/layout.liquid" %}
{% block %}
<nav class="c-pagination" aria-label="pagination">
    <a class="ui-btn sm square muted pointer-events-none" href="#" aria-current="page">1</a>
    <a class="ui-btn sm square ghosted" href="#">2</a>
    <a class="ui-btn sm square ghosted" href="#">3</a>
    <a class="ui-btn sm square ghosted" href="#">4</a>
    <a class="ui-btn sm square ghosted">...</a>
    <a class="ui-btn sm square ghosted" href="#">30</a>
</nav>
{% endblock %}
