{% layout "templates/layout.liquid" %}
{% block %}
<button class="ui-btn" id="showDrawerDialogElement">Show drawer</button>
<dialog class="c-drawer invisible after:-order-last backdrop:hidden" id="drawerDialogElement" inert>
    <nav class="c-drawer-content">
        Drawer content
        <button class="ui-btn muted" id="closeDrawerDialogElement">Close drawer</button>
    </nav>
</dialog>
{% endblock %}

{% block foot %}
<!-- #region js -->
<script type="module">
    import { showDrawer, closeDrawer, scrollDrawer } from "winduum/src/components/drawer"

    drawerDialogElement?.scroll({ left: 0, behavior: 'instant' });
    drawerDialogElement?.classList.remove('invisible')

    drawerDialogElement.addEventListener('scroll', ({ target }) => scrollDrawer(target, {
        scrollOpen: target.scrollWidth - target.clientWidth,
        scrollClose: 0,
        opacityRatio: 0
    }))
    showDrawerDialogElement.addEventListener('click', () => {
        drawerDialogElement.showModal()
        showDrawer(drawerDialogElement, drawerDialogElement.scrollWidth)
    })
    closeDrawerDialogElement.addEventListener('click', () => closeDrawer(drawerDialogElement, 0))

    drawerDialogElement?.addEventListener('c-drawer:close', () => drawerDialogElement.close())
    drawerDialogElement?.addEventListener('close', () => closeDrawer(drawerDialogElement, 0))
</script>
<!-- #endregion js -->
{% endblock %}
