{% layout "templates/layout.liquid" %}
{% block %}
<button class="ui-btn" id="showDrawerLeftElement">Show drawer</button>
<div class="c-drawer invisible" id="drawerLeftElement" inert>
    <nav class="c-drawer-content">
        Drawer content
        <button class="ui-btn muted" id="closeDrawerLeftElement">Close drawer</button>
    </nav>
</div>
{% endblock %}

{% block foot %}
<!-- #region js -->
<script type="module">
    import { showDrawer, closeDrawer, scrollDrawer } from "winduum/src/components/drawer"

    drawerLeftElement?.scroll({ left: drawerLeftElement?.scrollWidth , behavior: 'instant' })
    drawerLeftElement?.classList.remove('invisible')

    drawerLeftElement.addEventListener('scroll', ({ target }) => scrollDrawer(target))
    showDrawerLeftElement.addEventListener('click', () => showDrawer(drawerLeftElement))
    closeDrawerLeftElement.addEventListener('click', () => closeDrawer(drawerLeftElement))
</script>
<!-- #endregion js -->
{% endblock %}
