{% layout "templates/layout.liquid" %}
{% block %}
<button class="ui-badge">Badge</button>
{% endblock %}

{% block head %}
<style>
    /* #region style */
    .ui-badge {
        --ui-badge-height: 1rem;
        --ui-badge-py: 0;
        --ui-badge-px: 1rem;
        --ui-badge-border-radius: 0;
        --ui-badge-font-size: 0.75rem;
        --ui-badge-font-weight: 700;
        --ui-badge-bg: yellow;
        --ui-badge-color: #333;
    }
    /* #endregion style */
</style>
{% endblock %}

