{% layout "templates/layout.liquid" %}
{% block %}
<div class="ui-group">
    <div class="ui-badge">Badge</div>
    <div class="ui-badge">Badge</div>
    <div class="ui-badge">Badge</div>
</div>
<div class="ui-group">
    <div class="ui-badge bordered">Badge</div>
    <div class="ui-badge bordered">Badge</div>
    <div class="ui-badge bordered">Badge</div>
</div>
<div class="ui-group">
    <div class="ui-badge muted">Badge</div>
    <div class="ui-badge muted">Badge</div>
    <div class="ui-badge muted">Badge</div>
</div>
<div class="ui-group">
    <div class="ui-badge bg-gray-200 text-dark">
        <span>npm</span>
    </div>
    <div class="ui-badge bg-info">
        <span>7.1.2</span>
    </div>
</div>
{% endblock %}
