{% layout "templates/layout.liquid" %}
{% block %}
<div class="ui-badge outline accent-primary">Primary</div>
<div class="ui-badge outline accent-secondary">Secondary</div>
<div class="ui-badge outline accent-success">Success</div>
<div class="ui-badge outline accent-error">Error</div>
<div class="ui-badge outline accent-warning">Warning</div>
<div class="ui-badge outline accent-info">Info</div>
<div class="ui-badge outline accent-dark">Dark</div>
<div class="ui-badge outline accent-light">Light</div>
{% endblock %}
