{% layout "templates/layout.liquid" %}
{% block %}
    <div class="x-group">
        <div class="x-control bg-body-secondary w-[--x-control-height] flex-center justify-center">
            @
        </div>
        <div class="x-control">
            <input type="tel" required>
        </div>
        <button class="x-button">Button</button>
    </div>
{% endblock %}
