{% layout "templates/layout.liquid" %}
{% block %}
<div class="x-field">
    <label class="x-label" for="input">Label</label>
    <div class="x-control">
        <input type="text" id="input">
    </div>
</div>
{% endblock %}
