{% layout "templates/layout.liquid" %}
{% block %}
<a href="#" class="x-link" title="">
    Link Default
</a>
<a href="#" class="x-link accent-success" title="">
    Link Accent
</a>
{% endblock %}

{% block head %}
<style>
    body {
        gap: 2rem
    }
</style>
{% endblock %}
