{% layout "templates/layout.liquid" %}
{% block %}
    <div class="c-popover hover">
        <div role="button" class="ui-btn" tabindex="0">Popover</div>
        <div class="c-popover-content center shadow dark:bg-body-secondary mt-2.5 p-2 w-32 flex-col">
            <button class="ui-btn ghosted accent-main justify-start w-full">Item 1</button>
            <button class="ui-btn ghosted accent-main justify-start w-full">Item 2</button>
        </div>
    </div>
{% endblock %}

{% block head %}
<style>
  .dark\:bg-body-secondary {
    background-color: var(--color-body-secondary) !important;
  }
</style>
{% endblock %}
