{% layout "templates/layout.liquid" %}
{% block %}
<div class="ui-notice accent-error">
    <div class="ui-text">
        <h4>Text notice</h4>
        <p>Lorem ipsum dolor sit amet, <a href="#">consectetur adipiscing elit</a>. Nullam in elit iaculis, tristique nisi ut, mollis tellus. Nunc venenatis elit vel placerat commodo. Vestibulum odio neque, hendrerit nec venenatis at, tincidunt ut magna. Etiam hendrerit ultrices pharetra.</p>
    </div>
    <button class="ui-btn">
        <span>Button</span>
    </button>
</div>
{% endblock %}

{% block head %}
<style>
    body  > * {
        width: 100%
    }
</style>
{% endblock %}
