{% layout "templates/layout.liquid" %}
{% block %}
    <div class="ui-input-group">
        <label for="input">Name</label>
        <div class="ui-btn is-square is-raised bg-gray-200 text-dark">@</div>
        <div class="ui-input">
            <input type="tel" id="input" required>
        </div>
        <button class="ui-btn">Button</button>
    </div>
{% endblock %}
