{% layout "templates/layout.liquid" %}
{% block %}
    <div class="ui-input-group">
        <div class="ui-btn is-square is-raised accent-default bg-opacity-10 text-dark">@</div>
        <div class="ui-input">
            <input type="tel" id="input" required>
        </div>
        <button class="ui-btn">Button</button>
    </div>
{% endblock %}
