{% layout "templates/layout.liquid" %}
{% block %}
<div class="c-field">
    <label class="ui-label" for="input">Label</label>
    <div class="ui-control">
        <input type="text" id="input">
    </div>
</div>
{% endblock %}
