{% layout "templates/layout.liquid" %}
{% block %}
<div class="ui-input">
    <input type="text" placeholder=" " required>
    <label>Input</label>
</div>
<div class="ui-input-mask">
    <label>Mask</label>
    <div class="ui-checkbox">
        <input type="checkbox" id="checkbox">
        <label for="checkbox">Checkbox</label>
    </div>
</div>
{% endblock %}

{% block head %}
<style>
    body {
        gap: 2rem
    }
</style>
{% endblock %}
