{% layout "templates/layout.liquid" %}
{% block %}
<form class="is-validated">
    <div class="ui-input is-floating">
        <input type="text" id="input" placeholder=" " required>
        <label for="input">Label</label>
    </div>
</form>
{% endblock %}
