{% layout "templates/layout.liquid" %}
{% block %}
<button class="ui-btn">Button</button>
{% endblock %}

{% block head %}
<style>
    .ui-btn {
        --ui-btn-height: 4rem;
        --ui-btn-py: 1rem;
        --ui-btn-px: 1rem;
        --ui-btn-border-radius: 0;
        --ui-btn-font-size: 1.15rem;
        --ui-btn-font-weight: 700;
        --ui-btn-bg: yellow;
        --ui-btn-color: #333;
        --ui-btn-hover-opacity: 0.4;
        --ui-btn-focus-opacity: 0.8;
    }
</style>
{% endblock %}
