<!DOCTYPE html>
<html lang="en" class="font-sans dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=0, initial-scale=1, viewport-fit=cover"/>
    <meta name="color-scheme" content="light dark">
    <link rel="stylesheet" href="/src/styles/main.css">
    <link rel="stylesheet" href="/src/styles/tailwind.css">
    <link rel="stylesheet" href="/src/styles/style.css">
    <style>
        .ui-btn {
            --ui-btn-height: 4rem;
            --ui-btn-py: 1rem;
            --ui-btn-px: 1rem;
            --ui-btn-border-radius: 0;
            --ui-btn-font-size: 1.15rem;
            --ui-btn-font-weight: 700;
            --ui-btn-bg: yellow;
            --ui-btn-color: #333;
            --ui-btn-hover-opacity: 0.4;
            --ui-btn-focus-opacity: 0.8;
        }
    </style>
</head>
<body>
    <button class="ui-btn">Button</button>
</body>
</html>
