{% layout "templates/layout.liquid" %}
{% block %}
<button class="ui-btn" disabled>
    Button
</button>
<button class="ui-btn muted" disabled>
    Button
</button>
<button class="ui-btn bordered" disabled>
    Button
</button>
{% endblock %}
