{% layout "templates/layout.liquid" %}
{% block %}
<button class="ui-btn" disabled>
    Button
</button>
<button class="ui-btn is-muted" disabled>
    Button
</button>
<button class="ui-btn is-outline" disabled>
    Button
</button>
{% endblock %}
