{% layout "templates/layout.liquid" %}
{% block %}
<button class="ui-btn is-outline-gradient is-hover-fill bg-gradient-to-br from-purple-600 to-blue-500">Button</button>
<button class="ui-btn bg-gradient-to-br from-purple-600 to-blue-500">Button</button>
{% endblock %}
