{% layout "templates/layout.liquid" %}
{% block %}
<button class="ui-btn gradient-bordered hover-fill focus:!outline-purple-600 bg-gradient-to-br from-purple-600 to-blue-500">Button</button>
<button class="ui-btn gradient focus:!outline-purple-600 bg-gradient-to-br from-purple-600 to-blue-500">Button</button>
{% endblock %}
