{% layout "templates/layout.liquid" %}
{% block %}
<div class="ui-btn-group">
    <button class="ui-btn">Button</button>
    <button class="ui-btn">Button</button>
    <button class="ui-btn">Button</button>
</div>
<div class="ui-btn-group">
    <button class="ui-btn is-outline">Button</button>
    <button class="ui-btn is-outline">Button</button>
    <button class="ui-btn is-outline">Button</button>
</div>
<div class="ui-btn-group">
    <button class="ui-btn is-muted">Button</button>
    <button class="ui-btn is-muted">Button</button>
    <button class="ui-btn is-muted">Button</button>
</div>
{% endblock %}
