{% layout "templates/layout.liquid" %}
{% block %}
<button class="ui-btn loading">
    Button
</button>
<button class="ui-btn muted loading">
    Button
</button>
<button class="ui-btn bordered loading">
    Button
</button>
{% endblock %}
