{% layout "templates/layout.liquid" %}
{% block %}
<button class="ui-btn is-raised accent-primary">Primary</button>
<button class="ui-btn is-raised accent-secondary">Secondary</button>
<button class="ui-btn is-raised accent-success">Success</button>
<button class="ui-btn is-raised accent-error">Error</button>
<button class="ui-btn is-raised accent-warning">Warning</button>
<button class="ui-btn is-raised accent-info">Info</button>
<button class="ui-btn is-raised accent-dark">Dark</button>
<button class="ui-btn is-raised accent-light text-dark">Light</button>
{% endblock %}
