<!DOCTYPE html>
<html lang="en" class="font-sans dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=0, initial-scale=1, viewport-fit=cover"/>
    <meta name="color-scheme" content="light dark">
    <link rel="stylesheet" href="/src/styles/main.css">
    <link rel="stylesheet" href="/src/styles/tailwind.css">
    <link rel="stylesheet" href="/src/styles/style.css">
</head>
<body>
    <button class="ui-btn is-text accent-primary">Primary</button>
    <button class="ui-btn is-text accent-secondary">Secondary</button>
    <button class="ui-btn is-text accent-success">Success</button>
    <button class="ui-btn is-text accent-error">Error</button>
    <button class="ui-btn is-text accent-warning">Warning</button>
    <button class="ui-btn is-text accent-info">Info</button>
    <button class="ui-btn is-text accent-dark">Dark</button>
    <button class="ui-btn is-text accent-light">Light</button>
</body>
</html>
