{% layout "templates/layout.liquid" %}
{% block %}
<div class="x-check">
    <input type="radio" name="radio">
    Radio
</div>
<label class="x-check">
    <input type="radio" name="radio">
</label>
{% endblock %}

{% block head %}
<style>
    body {
        gap: 2rem
    }
</style>
{% endblock %}
