{% layout "templates/layout.liquid" %}
{% block %}
<form class="validated">
    <div class="x-check">
        <input type="radio" id="radio" required>
        <label for="radio">Radio</label>
    </div>
</form>
{% endblock %}
