{% layout "templates/layout.liquid" %}
{% block %}
<div class="ui-checkbox">
    <input type="checkbox">
    Checkbox
</div>
<label class="ui-checkbox">
    <input type="checkbox">
</label>
{% endblock %}

{% block head %}
<style>
    body {
        gap: 2rem
    }
</style>
{% endblock %}
