{% layout "templates/layout.liquid" %}
{% block %}
<a href="#" class="ui-link underline" title="">
    Link Default
</a>
<a href="#" class="ui-link accent-primary underline decoration-transparent" title="">
    Link Primary
</a>
{% endblock %}

{% block head %}
<style>
    body {
        gap: 2rem
    }
</style>
{% endblock %}
