{% layout "templates/layout.liquid" %}
{% block %}
<a href="#" class="ui-link text-default underlined-visible" title="">
    Link Default
</a>
<a href="#" class="ui-link text-primary underlined-visible" title="">
    Link Primary
</a>
{% endblock %}

{% block head %}
<style>
    body {
        gap: 2rem
    }
</style>
{% endblock %}
