<!DOCTYPE html>
<html lang="en" class="font-sans dark" style="scrollbar-gutter: stable">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=0, initial-scale=1, viewport-fit=cover">
    <meta name="color-scheme" content="light dark">
    <link rel="stylesheet" href="/src/styles/main.css">
    <link rel="stylesheet" href="/src/styles/style.css">
    <style>
        .x-carousel-experimental {
            max-width: 60rem;
        }

        .x-carousel-experimental-marker {
            width: 0.75rem;
            height: 0.75rem;
            border: 2px solid var(--color-primary);
            border-radius: 50%;
            display: block;
            cursor: pointer;

            &:is([aria-current]) {
                background-color: var(--color-primary);
            }
        }
    </style>
    <script>
        if (window.location.search.includes('dark=false')) {
            document.documentElement.classList.remove('dark')
        }
    </script>
</head>
<body>
<div id="app"></div>
<script type="module" src="/src/main.ts"></script>
</body>
</html>
