<!DOCTYPE html>
<html lang="en" class="font-sans dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=0, initial-scale=1, viewport-fit=cover"/>
    <meta name="color-scheme" content="light dark">
    <link rel="stylesheet" href="/src/styles/main.css">
    <link rel="stylesheet" href="/src/styles/tailwind.css">
    <link rel="stylesheet" href="/src/styles/style.css">

    {% block head %}{% endblock %}
</head>
<body>
<!-- #region body -->{% block %}{% endblock %}<!-- #endregion body -->
</body>
</html>
