{% layout "templates/layout.liquid" %}
{% block %}
<form class="is-validated">
    <div class="ui-select is-floating">
        <select id="select" required>
            <option selected="" value="">- select an option -</option>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
        </select>
        <label for="select">Select</label>
    </div>
</form>
{% endblock %}
