{% layout "templates/layout.liquid" %}
{% block %}
<details class="x-details group bg-body-secondary rounded" open>
    <summary class="flex items-center  gap-2 p-4 text-primary" data-action="accordionDetails">
        <span class="x-title">Accordion 1</span>
        <svg class="size-4 group-open:-scale-y-100 transition-transform" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
        </svg>
    </summary>
    <div>
        <div class="p-4">
            Details content
        </div>
    </div>
</details>
<details class="x-details group bg-body-secondary rounded">
    <summary class="flex items-center  gap-2 p-4 text-primary" data-action="accordionDetails">
        <span class="x-title">Accordion 2</span>
        <svg class="size-4 group-open:-scale-y-100 transition-transform" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
        </svg>
    </summary>
    <div style="display: none">
        <div class="p-4">
            Details content
        </div>
    </div>
</details>
<details class="x-details group bg-body-secondary rounded">
    <summary class="flex items-center  gap-2 p-4 text-primary" data-action="accordionDetails">
        <span class="x-title">Accordion 3</span>
        <svg class="size-4 group-open:-scale-y-100 transition-transform" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
        </svg>
    </summary>
    <div style="display: none">
        <div class="p-4">
            Details content
        </div>
    </div>
</details>
{% endblock %}

{% block head %}
<style>
    body {
      flex-direction: column;
      gap: 1rem;
    }

    details {
      width: 100%;
    }
</style>
{% endblock %}

{% block foot %}
<!-- #region js -->
<script type="module">
    import { toggleDetails, closeDetails } from 'winduum/src/components/details/index.js'

    document.querySelectorAll('[data-action="accordionDetails"]').forEach(summary => {
        summary.addEventListener('click', event => {
            event.preventDefault()

            const { currentTarget } = event

            closeDetails(currentTarget.closest('body').querySelector('details[open]:has([data-action="accordionDetails"]) summary'))

            toggleDetails(currentTarget)
        })
    })
</script>
<!-- #endregion js -->
{% endblock %}
