{% layout "templates/layout.liquid" %}
{% block %}
<details class="x-details group bg-body-secondary p-4 rounded">
    <summary class="w-fit flex">
        <label class="x-check">
            <input type="checkbox" data-action="toggleDetails" autocomplete="off">
            Fill more
        </label>
    </summary>
    <div style="display: none">
        <div class="x-control max-w-96 mt-4">
            <input>
        </div>
    </div>
</details>
{% endblock %}

{% block head %}
<style>
  body {
    flex-direction: column;
    gap: 1rem;
  }

  details {
    width: 100%;
  }
</style>
{% endblock %}

{% block foot %}
<!-- #region js -->
<script type="module">
    import { toggleDetails } from 'winduum/src/components/details/index.js'

    document.querySelectorAll('[data-action="toggleDetails"]').forEach(summary => {
        summary.addEventListener('click', event => {
            if (event.currentTarget.tagName !== 'INPUT') event.preventDefault()

            toggleDetails(summary)
        })
    })
</script>
<!-- #endregion js -->
{% endblock %}
