{% layout "templates/layout.liquid" %}
{% block %}
<div class="ui-group vertical">
    <a role="button" class="ui-btn">Link</a>
    <button type="submit" class="ui-btn">Button</button>
    <input type="button" value="Input" class="ui-btn" />
    <input type="submit" value="Submit" class="ui-btn" />
    <input type="radio" aria-label="Radio" class="ui-btn" />
    <input type="checkbox" aria-label="Checkbox" class="ui-btn" />
    <input type="reset" value="Reset" class="ui-btn" />
</div>
{% endblock %}
