{% layout "templates/layout.liquid" %}
{% block %}
<div class="c-compare rounded w-fit accent-dark">
    <input type="range" step="0.1" aria-hidden="true" data-action="compareInput">
    <div class="ui-btn circle" aria-hidden="true">
        <svg class="size-6" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none">
            <path class="-translate-x-1.5 scale-75 origin-center" stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
            <path class="translate-x-1.5 scale-75 origin-center" stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
        </svg>
    </div>
    <div class="ui-image">
        <div class="bg-primary text-light text-9xl font-black grid place-content-center p-6">PRIMARY</div>
        <div class="bg-main text-body text-9xl font-black grid place-content-center p-6">PRIMARY</div>
    </div>
</div>
{% endblock %}

{% block foot %}
<!-- #region js -->
<script type="module">
    import { setPosition, setKeyboardStep, setMouseStep } from 'winduum/src/components/compare/index.js'

    document.querySelectorAll('[data-action="compareInput"]').forEach(compareInput => {
        compareInput.addEventListener('input', setPosition)

        compareInput.addEventListener('keydown', setKeyboardStep)

        compareInput.addEventListener('mousedown', setMouseStep)
    })
</script>
<!-- #endregion js -->
{% endblock %}
