<!DOCTYPE html>
<html lang="en" class="font-sans dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=0, initial-scale=1, viewport-fit=cover"/>
    <meta name="color-scheme" content="light dark">
    <link rel="stylesheet" href="/src/styles/main.css">
    <link rel="stylesheet" href="/src/styles/tailwind.css">
    <link rel="stylesheet" href="/src/styles/style.css">
    <style>
        /* #region style */
        .ui-badge {
            --ui-badge-height: 1rem;
            --ui-badge-py: 0;
            --ui-badge-px: 1rem;
            --ui-badge-border-radius: 0;
            --ui-badge-font-size: 0.75rem;
            --ui-badge-font-weight: 700;
            --ui-badge-bg: yellow;
            --ui-badge-color: #333;
        }
        /* #endregion style */
</style>
</head>
<body>
<!-- #region body -->
    <button class="ui-badge">Badge</button>
<!-- #endregion body -->
</body>
</html>
