<!DOCTYPE html>
<html lang="en" class="font-sans dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=0, initial-scale=1, viewport-fit=cover"/>
    <meta name="color-scheme" content="light dark">
    <link rel="stylesheet" href="/src/styles/main.css">
    <link rel="stylesheet" href="/src/styles/tailwind.css">
    <link rel="stylesheet" href="/src/styles/style.css">
</head>
<body>
<!-- #region body -->
    <div class="ui-badge-group">
        <div class="ui-badge">Badge</div>
        <div class="ui-badge">Badge</div>
        <div class="ui-badge">Badge</div>
    </div>
    <div class="ui-badge-group">
        <div class="ui-badge is-outline">Badge</div>
        <div class="ui-badge is-outline">Badge</div>
        <div class="ui-badge is-outline">Badge</div>
    </div>
    <div class="ui-badge-group">
        <div class="ui-badge is-muted">Badge</div>
        <div class="ui-badge is-muted">Badge</div>
        <div class="ui-badge is-muted">Badge</div>
    </div>
    <div class="ui-badge-group">
        <div class="ui-badge bg-gray-200 text-dark">
            <span>npm</span>
        </div>
        <div class="ui-badge bg-info">
            <span>7.1.2</span>
        </div>
    </div>
<!-- #endregion body -->
</body>
</html>
