{% layout "templates/layout.liquid" %}
{% block %}
<div class="ui-badge is-muted accent-primary">Primary</div>
<div class="ui-badge is-muted accent-secondary">Secondary</div>
<div class="ui-badge is-muted accent-success">Success</div>
<div class="ui-badge is-muted accent-error">Error</div>
<div class="ui-badge is-muted accent-warning">Warning</div>
<div class="ui-badge is-muted accent-info">Info</div>
<div class="ui-badge is-muted accent-dark">Dark</div>
<div class="ui-badge is-muted accent-light">Light</div>
{% endblock %}
