<!DOCTYPE html>
<html lang="en" class="font-sans dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=0, initial-scale=1, viewport-fit=cover"/>
    <meta name="color-scheme" content="light dark">
    <link rel="stylesheet" href="/src/styles/main.css">
    <link rel="stylesheet" href="/src/styles/tailwind.css">
    <link rel="stylesheet" href="/src/styles/style.css">
</head>
<body>
<!-- #region body -->
    <div class="ui-badge is-outline accent-primary">Primary</div>
    <div class="ui-badge is-outline accent-secondary">Secondary</div>
    <div class="ui-badge is-outline accent-success">Success</div>
    <div class="ui-badge is-outline accent-error">Error</div>
    <div class="ui-badge is-outline accent-warning">Warning</div>
    <div class="ui-badge is-outline accent-info">Info</div>
    <div class="ui-badge is-outline accent-dark">Dark</div>
    <div class="ui-badge is-outline accent-light">Light</div>
<!-- #endregion body -->
</body>
</html>
