{% layout "templates/layout.liquid" %}
{% block %}
<div class="ui-control">
    <input type="color" id="color" oninput="this.nextElementSibling.textContent = this.value">
    <label for="color">#ffffff</label>
</div>
{% endblock %}
