{% layout "templates/layout.liquid" %}
{% block %}
    <div class="ui-group">
        <div class="ui-control bg-body-secondary w-[--ui-control-height] flex-center justify-center">
            @
        </div>
        <div class="ui-control">
            <input type="tel" required>
        </div>
        <button class="ui-btn">Button</button>
    </div>
{% endblock %}
