{% layout "templates/layout.liquid" %}
{% block %}
    <div class="ui-group">
        <div class="ui-btn square bordered bg-opacity-10 accent-main" style="--tw-border-opacity: 0.15; --ui-btn-bg-opacity: 5%;">@</div>
        <div class="ui-control">
            <input type="tel" id="input" required>
        </div>
        <button class="ui-btn">Button</button>
    </div>
{% endblock %}
