{% layout "templates/layout.liquid" %}
{% block %}
    <div class="ui-control-group">
        <div class="ui-btn square raised accent-default bg-opacity-10 text-dark">@</div>
        <div class="ui-control">
            <input type="tel" id="input" required>
        </div>
        <button class="ui-btn">Button</button>
    </div>
{% endblock %}
