{% layout "templates/layout.liquid" %}
{% block %}
<div class="x-field">
    <label class="x-label">Label</label>
    <div class="x-control">
        <input type="text" required>
    </div>
    <em class="x-info">Info message</em>
</div>
{% endblock %}

