{% layout "templates/layout.liquid" %}
{% block %}
<div class="x-table text-sm border border-body-tertiary">
    <table>
        <thead class="whitespace-nowrap">
            <tr class="text-main-secondary font-bold">
                <th class="sticky start-0 z-10">
                    <label class="x-check flex w-max">
                        <input type="checkbox">
                    </label>
                </th>
                <th>Name</th>
                <th>Vacation</th>
                <th>Late arrival</th>
                <th>Employment</th>
                <th>Meeting</th>
                <th>Homeoffice</th>
                <th>Doctor</th>
                <th>Pause</th>
                <th>Worked time</th>
                <th>Total time</th>
            </tr>
        </thead>
        <tbody>
            <tr tabindex="0">
                <td class="sticky start-0 z-10">
                    <label class="x-check flex w-max">
                        <input type="checkbox">
                    </label>
                </td>
                <td>
                    <div class="flex gap-2.5 whitespace-nowrap">
                        <div class="x-image rounded-full size-9">
                            <img src="https://via.placeholder.com/48x48" loading="lazy" alt="">
                        </div>
                        <div>
                            <div class="x-title">John Smith</div>
                            <div class="x-title sm font-normal">
                                Programmer
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    20 days
                </td>
                <td>
                    12
                </td>
                <td>
                    Full time
                </td>
                <td>
                    0:00&nbsp;h
                </td>
                <td>
                    0:00&nbsp;h
                </td>
                <td>
                    0:00&nbsp;h
                </td>
                <td>
                    0:18&nbsp;h
                </td>
                <td>
                    0:00&nbsp;h
                </td>
                <td>
                    0:00&nbsp;h
                </td>
            </tr>
            <tr tabindex="0">
                <td class="sticky start-0 z-10">
                    <label class="x-check flex w-max">
                        <input type="checkbox">
                    </label>
                </td>
                <td>
                    <div class="flex gap-2.5 whitespace-nowrap">
                        <div class="x-image rounded-full size-9">
                            <img src="https://via.placeholder.com/48x48" loading="lazy" alt="">
                        </div>
                        <div>
                            <div class="x-title">John Smith</div>
                            <div class="x-title sm font-normal">
                                Programmer
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    20 days
                </td>
                <td>
                    12
                </td>
                <td>
                    Full time
                </td>
                <td>
                    0:00&nbsp;h
                </td>
                <td>
                    0:00&nbsp;h
                </td>
                <td>
                    0:00&nbsp;h
                </td>
                <td>
                    0:18&nbsp;h
                </td>
                <td>
                    0:00&nbsp;h
                </td>
                <td>
                    0:00&nbsp;h
                </td>
            </tr>
            <tr tabindex="0">
                <td class="sticky start-0 z-10">
                    <label class="x-check flex w-max">
                        <input type="checkbox">
                    </label>
                </td>
                <td>
                    <div class="flex gap-2.5 whitespace-nowrap">
                        <div class="x-image rounded-full size-9">
                            <img src="https://via.placeholder.com/48x48" loading="lazy" alt="">
                        </div>
                        <div>
                            <div class="x-title">John Smith</div>
                            <div class="x-title sm font-normal">
                                Programmer
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    20 days
                </td>
                <td>
                    12
                </td>
                <td>
                    Full time
                </td>
                <td>
                    0:00&nbsp;h
                </td>
                <td>
                    0:00&nbsp;h
                </td>
                <td>
                    0:00&nbsp;h
                </td>
                <td>
                    0:18&nbsp;h
                </td>
                <td>
                    0:00&nbsp;h
                </td>
                <td>
                    0:00&nbsp;h
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
