{% layout "templates/layout.liquid" %}
{% block %}
<form class="is-validated">
    <div class="ui-switch">
        <input type="checkbox" id="checkbox" required>
        <em>This field is required</em>
    </div>
</form>
{% endblock %}
