{% layout "templates/layout.liquid" %}
{% block %}
<button class="x-button" id="showDrawerBottomElement">Show drawer</button>
<div class="x-drawer invisible flex-col after:-order-last" id="drawerBottomElement" inert>
    <nav class="x-drawer-content" style="--x-drawer-content-width: 100%;--x-drawer-content-height: calc(100vh - 4rem);">
        Drawer content
        <button class="x-button muted" id="closeDrawerBottomElement">Close drawer</button>
    </nav>
</div>
{% endblock %}

{% block foot %}
<!-- #region js -->
<script type="module">
    import { showDrawer, closeDrawer, scrollDrawer } from "winduum/src/components/drawer"

    drawerBottomElement?.scroll({ top: 0, behavior: 'instant' });
    drawerBottomElement?.classList.remove('invisible')

    drawerBottomElement.addEventListener('scroll', ({ target }) => scrollDrawer(target, {
        snapClass: 'snap-y snap-mandatory',
        scrollSize: target.scrollHeight - target.clientHeight,
        scrollDirection: target.scrollTop,
        scrollOpen: target.scrollHeight - target.clientHeight,
        scrollClose: 0,
        opacityRatio: 0
    }))
    showDrawerBottomElement.addEventListener('click', () => showDrawer(drawerBottomElement, drawerBottomElement.scrollHeight, 'top'))
    closeDrawerBottomElement.addEventListener('click', () => closeDrawer(drawerBottomElement, 0, 'top'))
</script>
<!-- #endregion js -->
{% endblock %}
