{% layout "templates/layout.liquid" %}
{% block %}
<button class="x-button" id="showDrawerLeftElement">Show drawer</button>
<dialog class="x-drawer" id="drawerLeftElement" inert>
    <nav class="x-drawer-content">
        Drawer content
        <button class="x-button muted" id="closeDrawerLeftElement">Close drawer</button>
    </nav>
</dialog>
{% endblock %}

{% block foot %}
<!-- #region js -->
<script type="module">
    import { showDrawer, closeDrawer, scrollDrawer, scrollInitDrawer } from "winduum/src/components/drawer"

    drawerLeftElement.addEventListener('scroll', ({ target }) => scrollDrawer(target))

    showDrawerLeftElement.addEventListener('click', async () => {
        drawerLeftElement.showModal()

        await scrollInitDrawer(drawerLeftElement)

        showDrawer(drawerLeftElement)
    })

    closeDrawerLeftElement.addEventListener('click', () => {
        closeDrawer(drawerLeftElement, drawerLeftElement.scrollWidth)
    })
</script>
<!-- #endregion js -->
{% endblock %}
