{% layout "templates/layout.liquid" %}
{% block %}
    <div class="flex divide-x divide-bg-primary divide-gap-x-4">
        <div>01</div>
        <div>02</div>
        <div>03</div>
    </div>
{% endblock %}
