{% layout "templates/layout.liquid" %}
{% block %}
<div class="flex gap-4">
    <div class="flex-col gap-2">
        <button class="ui-btn accent-main flex-grow">Register</button>
        <button class="ui-btn flex-grow">Login</button>
    </div>
    <div class="divider flex-col">OR</div>
    <div class="flex-col gap-2">
        <button class="ui-btn muted flex-grow">Facebook</button>
        <button class="ui-btn muted flex-grow">Google</button>
        <button class="ui-btn muted flex-grow">Apple</button>
    </div>
</div>
{% endblock %}

{% block head %}
<style>
    body {
        gap: 2rem
    }
</style>
{% endblock %}
