{% layout "templates/layout.liquid" %}
{% block %}
    <div class="dot"></div>
    <div class="dot bg-main"></div>
    <div class="dot bg-error"></div>
    <div class="dot bg-warning"></div>
{% endblock %}
