{% layout "templates/layout.liquid" %}
{% block %}
<div class="x-field">
    <label class="x-label" for="given-name">First name</label>
    <div class="x-control">
        <input id="given-name" name="given-name" autocomplete="given-name" required>
    </div>
</div>

<svg class="hidden">
    <symbol id="icon-exclamation-circle" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z" />
    </symbol>
</svg>
{% endblock %}

{% block foot %}
<!-- #region js -->
<script type="module">
    import { validateField } from 'winduum/src/components/form'

    document.querySelector('.x-control').addEventListener('input', ({ currentTarget }) => {
        validateField(currentTarget)
    })
</script>
<!-- #endregion js -->
{% endblock %}
