{% layout "templates/layout.liquid" %}
{% block %}
<a href="#" class="underline transition hover:text-primary" title="">
    Link Default
</a>
<a href="#" class="text-primary underline underline-transparent" title="">
    Link Primary
</a>
{% endblock %}

{% block head %}
<style>
    body {
        gap: 2rem
    }

    .transition {
      transition-property: var(--transition);
      transition-timing-function: var(--ease-in-out);
      transition-duration: var(--duration);
    }
</style>
{% endblock %}
