{% layout "templates/layout.liquid" %}
{% block %}
<div class="x-text">
    <blockquote>Ut venenatis, nisl scelerisque sollicitudin fermentum, quam libero hendrerit ipsum, ut blandit est
        tellus sit amet turpis.
    </blockquote>
</div>
{% endblock %}
