{% layout "templates/layout.liquid" %}
{% block %}
<div class="x-text">
    <figure>
        <img src="https://picsum.photos/256/256">
        <figcaption>
            Figure 1: Some beautiful placeholders
        </figcaption>
    </figure>
</div>
{% endblock %}
