{% layout "templates/layout.liquid" %}
{% block %}
<div class="x-text">
    <figure>
        <img src="https://bulma.io/images/placeholders/256x256.png">
        <figcaption>
            Figure 1: Some beautiful placeholders
        </figcaption>
    </figure>
</div>
{% endblock %}
