{% layout "templates/layout.liquid" %}
{% block %}
<div class="x-text">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget efficitur
        metus. In bibendum nisi et dui <a href="#">sagittis efficitur</a>. Proin porttitor diam at quam
        finibus, quis porttitor turpis ullamcorper. Quisque iaculis imperdiet nunc in
        hendrerit. Nulla facilisi. Sed at sodales ex. Vivamus ornare auctor ligula et
        lobortis. Nunc metus augue, tristique vitae sagittis ac, interdum eu nisl.
        Curabitur aliquet, lectus ut interdum commodo, ipsum elit gravida libero, in
        laoreet lectus nisl a erat. Sed consequat justo pulvinar turpis pharetra mattis.
        Phasellus non pretium libero.</p>
    <p></p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</div>
{% endblock %}
