{% layout "templates/layout.liquid" %}
{% block %}
<div class="ui-image aspect-[3/2] before:skeleton">
    <img src="https://picsum.photos/seed/picsum/300/200" loading="lazy">
</div>
{% endblock %}

{% block head %}
<style>
    .ui-image {
        width: 20rem
    }
</style>
{% endblock %}
