{% layout "templates/layout.liquid" %}
{% block %}
<button class="ui-btn muted accent-primary">Primary</button>
<button class="ui-btn muted accent-base">Base</button>
<button class="ui-btn muted accent-success">Success</button>
<button class="ui-btn muted accent-error">Error</button>
<button class="ui-btn muted accent-warning">Warning</button>
<button class="ui-btn muted accent-info">Info</button>
<button class="ui-btn muted accent-dark">Dark</button>
<button class="ui-btn muted accent-light">Light</button>
{% endblock %}
