{% layout "templates/layout.liquid" %}
{% block %}
<button class="ui-btn bordered accent-primary">Primary</button>
<button class="ui-btn bordered accent-base">Base</button>
<button class="ui-btn bordered accent-success">Success</button>
<button class="ui-btn bordered accent-error">Error</button>
<button class="ui-btn bordered accent-warning">Warning</button>
<button class="ui-btn bordered accent-info">Info</button>
<button class="ui-btn bordered accent-dark">Dark</button>
<button class="ui-btn bordered accent-light">Light</button>
{% endblock %}
