{% layout "templates/layout.liquid" %}
{% block %}
<button class="ui-btn raised accent-primary">Primary</button>
<button class="ui-btn raised accent-base">Base</button>
<button class="ui-btn raised accent-success">Success</button>
<button class="ui-btn raised accent-error">Error</button>
<button class="ui-btn raised accent-warning">Warning</button>
<button class="ui-btn raised accent-info">Info</button>
<button class="ui-btn raised accent-dark">Dark</button>
<button class="ui-btn raised accent-light text-dark">Light</button>
{% endblock %}
