{% layout "templates/layout.liquid" %}
{% block %}
<button class="ui-btn ghosted accent-primary">Primary</button>
<button class="ui-btn ghosted accent-secondary">Secondary</button>
<button class="ui-btn ghosted accent-success">Success</button>
<button class="ui-btn ghosted accent-error">Error</button>
<button class="ui-btn ghosted accent-warning">Warning</button>
<button class="ui-btn ghosted accent-info">Info</button>
<button class="ui-btn ghosted accent-dark">Dark</button>
<button class="ui-btn ghosted accent-light">Light</button>
{% endblock %}
