{% layout "templates/layout.liquid" %}
{% block %}
<div class="c-card max-w-md gap-2">
    <div class="ui-heading flex-center">Card title</div>
    <div class="ui-text">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nulla accumsan, elit sit amet varius semper, nulla mauris mollis quam, tempor suscipit diam nulla vel leo. Lorem ipsum dolor sit amet
    </div>
</div>
{% endblock %}

