{% layout "templates/layout.liquid" %}
{% block %}
<div class="ui-image aspect-[3/2] bg-transparent">
    <img src="https://img.logoipsum.com/250.svg" loading="lazy">
</div>
{% endblock %}

{% block head %}
<style>
    .ui-image {
        width: 20rem
    }
</style>
{% endblock %}
